body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

article {
    background-color: #282826;
    width: 350px;
    height: 500px;
    border-radius: 10px;
}

article img {
    filter: grayscale(100%);
    max-width: 50%;
    margin-left: 25%;
    margin-top: 12.5%;
}

.angry {
    background-color: red;
    color: white;
    border-radius: 0;
    width: 400px;
    height: 571px;
}