/* Importing the 'Bangers' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Resetting default margin, padding, and setting the font-family for the entire document */
* {
    margin: 0;
    padding: 0;
    font-family: 'Bangers';
}

/* Styling for the intro and popart sections */
.popart, .intro {
    height: 100vh;
    scroll-snap-align: start;
}

/* Styling for the light overlay */
.light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Background with radial gradient for light effect */
    background: radial-gradient(circle at var(--x) var(--y), transparent 0%, rgba(0, 0, 0, 0.95) 20%);
}

/* CSS class for turning off an element (not currently used) */
.turnoff {
    display: none;
}

/* Styling for the scroller section */
.scroller {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* Styling for the intro section */
.intro {
    /* Background image for the intro section */
    background: url("assets_spike2/4826101.jpg") no-repeat center center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    font-size: 64px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

/* Styling for images within the intro section */
.intro img {
    width: 35%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.63);
    filter: grayscale(80%);
}

/* Styling for the popart section */
.popart {
    /* Background image for the popart section */
    background: url("assets_spike2/8003264.jpg") no-repeat center center;
    display: flex;
    align-items: center;
}

/* Styling for images within the popart section */
.popart img {
    max-width: 25%;
}

/* Styling for the layout within the popart section */
.popart .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin-left: 10%;
}

/* Styling for specific images within the layout */
.popart .layout .above img:last-child {
    filter: hue-rotate(90deg);
}

.popart .layout .below img:first-child {
    filter: hue-rotate(180deg);
}

.popart .layout .below img:last-child {
    filter: hue-rotate(270deg);
}

/* Styling for the toggle button */
.popart .button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    color: white;
}